.App {
  width: 95%;
  margin: auto;
}

/* 
2 - 3 Colors
  - Primary (Dark Color)
  - Secondary (Grey)
  - Tertiary (Light Grey)

2 Font Weights
   - Normal (400 - 500)
   - Heavy (600 - 700)
*/

/* Header Font Sizes */
.heading {
  text-decoration: underline;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

/* Font Options between Heavy and Normal */
.heavy {
  font-weight: 700;
  font-family: monospace;
}

.normal {
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

/* Font Color Options */
.primary {
  color: #092834;
}

.secondary {
  color: #1a3e4c;
}

.light {
  color: #67afcb;
}

/* URLs and Links */

.link {
  color: #347b98;
}
